@using WebBookStore.Models;
@using System;
@model List<OrderDetail>

@{
    Layout = "~/Views/Layout/OrderDetailLayout.cshtml";
}

<div class="order-header row">
    <p>Xem hóa đơn</p>
    <p>Ngày đặt hàng: @ViewBag.TimeOrderDate @ViewBag.DayOrderDate/@ViewBag.MonthOrderDate/@ViewBag.YearOrderDate</p>
</div>
<div class="order-info__item order-notify">
    <p>THÔNG BÁO</p>
    <div class="order-content-box order-notify-content row--base">
        <p> @ViewBag.TimeNotify </p>
        <p>
            @if(ViewBag.Noti == null)
            {

            }
             else
            {
                @ViewBag.noti
            }    
            @*Đơn hàng @ViewBag.OrderID đã sẵn sàng giao đến quý khách. Chúng tôi vừa bàn giao đơn hàng
            của quy khác cho đơn vị vận chuẩn. Đơn hàng sẽ được giao @ViewBag.TimeExdeliveryDate @ViewBag.DayExdeliveryDate/@ViewBag.MonthExdeliveryDate/@ViewBag.YearExdeliveryDate*@
        </p>
    </div>
</div>
<div class="order-info row--base">
    <div class="order-info__item">
        <p>ĐỊA CHỈ NGƯỜI NHẬN</p>
        <div class="order-content-box">
            <h4>@ViewBag.Name</h4>
            <p>
                Địa chỉ: @ViewBag.AddressShipping
            </p>
            <p>Điện thoại: @ViewBag.Phone</p>
        </div>
    </div>
    <div class="order-info__item">
        <p>HÌNH THỨC GIAO HÀNG</p>
        <div class="order-content-box">
            <p>Giao hàng đến tận nơi</p>
</div>
    </div>
    <div class="order-info__item">
        <p>HÌNH THỨC THANH TOÁN</p>
        <div class="order-content-box">
            <p>@ViewBag.PayMethod</p>
        </div>
    </div>
</div>
<div class="order-info__item order-content-box order-goods">
    <div class="order-goods-header row--base">
        <div class="col-5">Sản phẩm</div>
        <div class="col-3-2">Số lượng</div>
        <div class="col-3-2">Đơn giá</div>
        <div class="col-2">Thành tiền</div>
    </div>
    <div class="order-goods-detail">
        @{
            foreach (var item in Model)
            {
                <div class="order-goods__item row--base">
                    <div class="col-5 row--base">
                        <img src="@item.Book.Images" alt="">
                        <div class="goods-info">
                            <p>@item.Book.Title</p>
                            <a href="@Url.Action("DetailBook", "Book", new { @idbook = item.id_Book})">Xem sản phẩm</a>
                        </div>
                    </div>
                    <div class="col-3-2">@item.Quantity</div>
                    <div class="col-3-2"><span class="price-number">@item.Book.Price</span> VND</div>
                    <div class="col-2"><span class="price-number">@item.Price</span> VND</div>
                </div>
            }
        }
    </div>
        <div class="order-finalization">
            <p class="row--base">Tạm tính: <span class="col-2"><span class="price-number">@ViewBag.Total</span> VND</span></p>
            <p class="row--base">Phí vận chuyển: <span class="col-2"><span class="price-number">@ViewBag.ShippingTax</span> VND</span=""></p>
            <p class="row--base">Tổng cộng: <span class="col-2"><span class="price-number">@ViewBag.AllPrice</span> VND</span></p>
        </div>
    </div>
<div class="order-info__item order-status">
    <p>TRẠNG THÁI ĐƠN HÀNG</p>
    <div class="order-content-box">
        <div class="row--base">
            <div class="order-status-left">
                <p>Mã đơn hàng: @ViewBag.OrderID</p>
            </div>
            <div class="order-status-right">
                @Html.Action("StatusOrder", "Order")
            </div>
        </div>
    </div>
</div>


