@using WebBookStore.Models;
@model Order

@if (Model.OrderDate != null && Model.Id_Status == 1)
{
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.OrderDate.ToString("dd/MM/yyyy")</span>
        <span class="status">Chuẩn bị giao hàng</span>
    </p>
}
else if (Model.DeliveryDate != null && Model.Id_Status == 2)
{
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.OrderDate.ToString("dd/MM/yyyy")</span>
        <span class="status">Chuẩn bị giao hàng</span>
    </p>
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.DeliveryDate.Value.ToString("dd/MM/yyyy")</span>
        <span class="status">Đang giao hàng</span>
    </p>
}
else
{
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.OrderDate.ToString("dd/MM/yyyy")</span>
        <span class="status">Chuẩn bị giao hàng</span>
    </p>
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.DeliveryDate.Value.ToString("dd/MM/yyyy")</span>
        <span class="status">Đang giao hàng</span>
    </p>
    <p class="row">
        <span class="dot"></span>
        <span class="time">@Model.ExpDeliveryDate.Value.ToString("dd/MM/yyyy")</span>
        <span class="status">Đã giao hàng</span>
    </p>
}
